{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Table</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/containers.css' %}" />
  <!-- Use your CSS file -->
</head>

<body>
  
  {% include '_navbar.html' %}

  <h1><i class="fas fa-users"></i> User Table</h1>

  <table id="user-table">
    <thead>
      <tr>
        <th><i class="fas fa-id-card"></i> ID</th>
        <th><i class="fas fa-user"></i> Name</th>
        <th><i class="fab fa-telegram"></i> Telegram ID</th>
        <th><i class="fas fa-phone"></i> Phone Number</th>
        <th><i class="fas fa-building"></i> Organization</th>
        <th><i class="far fa-calendar-alt"></i> Created At</th>
        <th><i class="fas fa-history"></i> Updated At</th>
        <th><i class="fas fa-toggle-on"></i> Active</th>
      </tr>
    </thead>
    <tbody>
      {% for user in reviewers %}
      <tr onclick="window.location='{% url 'reviewer-detail' user.id %}'" style="cursor: pointer">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.telegram_id }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.get_organizations }}</td>
        <td>{{ user.created_at }}</td>
        <td>{{ user.updated_at }}</td>
        <td>{{ user.is_active }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if reviewers.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ reviewers.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">Page {{ reviewers.number }} of {{ reviewers.paginator.num_pages }}.</span>

      {% if reviewers.has_next %}
      <a href="?page={{ reviewers.next_page_number }}">Next</a>
      <a href="?page={{ reviewers.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
</body>

</html>